    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="padding-left: 25px;padding-right: 25px" fxLayoutAlign="space-between "  >
   
<div fxLayout="row" fxLayoutGap="30px">
    <button mat-stroked-button (click)="onGetAllProducts()" color="accent">All</button>

    <button mat-stroked-button (click)="onGetSelectedProducts()" color="accent">Selected</button>

    <button mat-stroked-button (click)="onGetAvailableProducts()" color="accent">Available</button>
    <button mat-raised-button (click)="addNewProduct()" color="accent">Create</button>

</div>
<div>
    <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
        <div  fxLayout="row" style="width: 90;height: 10px;font-size: 10px; " >
            
            <mat-form-field class="matFormField" appearance="fill" fxFlex="100">
                <input ngModel name="keyword" matInput class="form-control">
            </mat-form-field>
            <button mat-mini-fab>
            <mat-icon >search</mat-icon>
        </button>
        </div>
    </form>
</div>
</nav> 
<div style="padding: 53px;">
<ng-container *ngIf="(products$ | async) as result" [ngSwitch]="result.dataState" >
    
    <ng-container *ngSwitchCase="DataStateEnum.LOADING"><div><h1>lOADING ....</h1></div></ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="alert-danger">
            {{result.errorMessage}}
        </div>
    </ng-container>
    <div class="mat-elevation-z8">
    <ng-container *ngSwitchCase="DataStateEnum.LOADED" >
    <table mat-table class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="position">
            <th mat-header-cell > ID </th>
            <th mat-header-cell> Name </th>
            <th mat-header-cell > Price </th>
            <th mat-header-cell > Quantity </th>
            <th mat-header-cell > Selected </th>
            <th mat-header-cell > Available </th>
<tr mat-row *ngFor="let p of result.data" >
            <td mat-cell style="font-weight: bold;" > {{p.id}} </td>
            <td mat-cell> {{p.name}} </td>
            <td mat-cell> {{p.price}} </td>

            <td mat-cell> {{p.quantity}} </td>
            <td mat-cell> {{p.selected}} </td>
            <td mat-cell> {{p.available}} </td>
            <td mat-cell>
                <button mat-raised-button (click)="onSelect(p)" [ngStyle]="{'background-color':p.selected ? 'green': 'red' }">
                    <span *ngIf="p.selected">Unselect</span>
                    <span *ngIf="!p.selected">Select</span>

                </button>
            </td>
            <td>
                <button  mat-mini-fab color="warn" (click)="onDelete(p)">
                    <mat-icon style="color: white;">delete_forever</mat-icon>
                                </button>
            </td>
            <td>
                <button  mat-mini-fab color="primary" (click)="editProduct(p)">
                    <mat-icon style="color: white;">update</mat-icon>
                                </button>
            </td>

        </tr>

          </ng-container>


    </table>
    
</ng-container>
</div>
</ng-container>
</div>
