    <mat-toolbar   class="header-App" style=" color: white;background-color: rgb(4, 76, 124);" fxLayout="column" fxLayoutAlign="space-between"   fxFlex="100%">
        <div fxLayoutAlign="space-between">

            <div fxLayoutAlign="space-around"  fxLayoutGap="30px">
                <span fxHide.lt-sm>My App</span>
                <div fxLayoutGap="10px">
                    <a mat-stroked-button  [routerLink]="['/home']" style="color: white;">Home</a>
                    <a mat-stroked-button  [routerLink]="['/peopleList']" style="color: white;">People List</a>
                    <a mat-stroked-button  [routerLink]="['/profile']" style="color: white;">Profile</a>


                </div>

            </div>

            <div style="text-align: center;" fxLayout="column"  >
                <div fxHide.lt-sm>
                <span style="font-size:medium;">

                    Welcome
                    {{UserName.name | uppercase}}
                    :
                </span>
                <span style="font-size:medium;" >
                    {{date | date}}
                </span></div>
                <div fxLayoutAlign="end start" style=" font-size: 100px; padding: 5px;">
               
               
                    <mat-icon  (click)="logout()">exit_to_app</mat-icon>
                 <span  style="font-size: 1rem;">
                    logout
                </span></div>
               
            </div>


            <!--  <span>{{x|currency:'EUR'}}</span>-->
        </div>

    </mat-toolbar>
