:host{
  display: block;
  .div-About{  background-color: greenyellow}
.styleMatGridList{
  background-color: wheat;
}
.matCard{background-color: aqua;}
.child-1{
  background-color: orange;
  }
  .child-2{
  background-color: yellow;
  }
  .child-3{
  background-color: green;
  }
  .container{
    margin: 15px;
    height:200px;
    border:2px solid red;
   }}