<!--<div class="">
    
    <div style="text-align: center">
        <h1>About Component </h1>
      </div>-->
<!--
    <div class="styleMatGridList">

        <h3>Infos:</h3>
        <ul class="list-group">
            <li>Nom:<strong>{{info.nom}}</strong></li>
            <li>Email:<strong>{{info.email}}</strong></li>
            <li>Tel:<strong>{{info.tel}}</strong></li>
        </ul>
        <div>
            <button mat-raised-button color="accent">Primary</button>
        </div>

        <ul>
            <li *ngFor="let c of comments">
                {{c.message}},
                <span>{{c.date|date:'dd/MM/yyyy : HH:mm:ss'}}</span>
            </li>
        </ul>


    </div>
    -->
    <!--
    <div class="container" *ngIf="x===y">

    <div  fxLayout="row" fxLayout.lt-sm="column"   fxLayoutGap="30px" >
        <mat-card>
            <mat-card class="child-1">one</mat-card>
            <mat-card class="child-2">Two</mat-card>
            <mat-card class="child-3">Three</mat-card>
        </mat-card>
        <mat-card>
            <mat-card class="child-1">test1</mat-card>
            <mat-card class="child-2">test2</mat-card>
            <mat-card class="child-3">test3</mat-card>
        </mat-card>

    </div>
</div>
   </div>
    -->

    <div class="div-About">
        <app-header ></app-header>
      <div>
          <p>about works</p>
      </div>
    
    </div>  <app-footer ></app-footer>